@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I'm a 4th grade student at the department of Information Systems and Technologies 
   in Yeditepe University.
</p>
