@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/kaankirli.png" width="100%" height="300px"/>
<h1><b>Welcome to Kaan Kırlı's website.</b></h1>

<div><p>
      In this website, you can go to "About", "Skills"
      and "Contact" parts.
    </p>
 </div>
